HOST=127.0.0.1
PORT=8080
REQUEST_TIMEOUT_MS=25000
SIPIC_API_BASE_URL=https://pzwtoksbbfvgsnwunzri.supabase.co/functions/v1/sipic-api

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

OPENWEATHER_API_KEY=
METEOMATICS_USERNAME=
METEOMATICS_PASSWORD=
CAMS_API_KEY=
